@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.contenedor-grid {
  display: grid;
  min-height: 100vh;
  width: 100%;
}

.header {
  padding: 20px;
  height: 120px;
  background-color: #000;
  background-position: top;
}
.header .logo {
  height: 40px;
  width: auto;
  padding: 6px 6px;
  margin-left: 20px;
}
.header nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  position: fixed;
  top: 120px;
  right: 0;
  width: 100%;
  height: 0;
  text-align: center;
  transition: all 0.2s;
  background-color: #FDBE2D;
  z-index: 1;
}

.nav-menu ul {
  width: 100%;
  height: auto;
}

.nav-menu li {
  display: none;
  line-height: 28px;
  margin: 50px 0;
  transition: all 0.3s;
}

.nav-menu li a {
  color: #5000F5 !important;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Baloo 2", cursive;
}

.nav-menu li a.active, .nav-menu li a:hover {
  color: white !important;
  transition: 0, 5s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
}

#check:checked ~ .nav-menu li {
  display: block;
}

.bar-btn {
  font-size: 25px;
  margin-right: 20px;
  color: #FDBE2D;
  cursor: pointer;
}

.main, .mainCm, .mainDiseñoGrafico, .mainDiseñoWeb {
  background-image: url("../multimedia/showing-tablet-s-blank-screen (1).jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  background-color: #5000F5;
}
.main h1, .mainCm h1, .mainDiseñoGrafico h1, .mainDiseñoWeb h1 {
  font-size: 25px;
  font-family: "Baloo 2", cursive;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 1px black;
  padding-right: 20px;
  padding-left: 20px;
}
.main div, .mainCm div, .mainDiseñoGrafico div, .mainDiseñoWeb div {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.main .logoTitulo, .mainCm .logoTitulo, .mainDiseñoGrafico .logoTitulo, .mainDiseñoWeb .logoTitulo {
  margin-top: 80px;
  height: 120px;
  width: auto;
}
.main .boxParrafo, .mainCm .boxParrafo, .mainDiseñoGrafico .boxParrafo, .mainDiseñoWeb .boxParrafo {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.main p, .mainCm p, .mainDiseñoGrafico p, .mainDiseñoWeb p {
  font-size: 16px;
  font-family: "Baloo 2", cursive;
  text-align: center !important;
  color: white !important;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  text-shadow: 2px 2px 1px black;
}

.mainDiseñoWeb {
  background-image: url("../multimedia/ideas-concept-on-laptop-screen.jpg");
}
.mainDiseñoWeb p {
  padding-bottom: 40px;
}

.mainDiseñoGrafico {
  background-image: url("../multimedia/man-editing-photos-on-computer.jpg");
}
.mainDiseñoGrafico p {
  padding-bottom: 40px;
}

.mainCm {
  background-image: none;
}
.mainCm h1 {
  padding-top: 40px;
}
.mainCm p {
  padding-top: 30px;
  padding-bottom: 60px;
}

.servicios {
  height: auto;
  width: 100%;
  background-color: #5000F5;
  font-size: 20px;
  font-family: "Baloo 2", cursive;
  font: bold;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.servicios .botones {
  background-color: #FDBE2D;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin: 10px 30px;
  border-radius: 10px;
  filter: opacity(90%);
}
.servicios .botones:hover {
  transform: scale(101%);
  filter: none;
}

.servicioDiseñoWeb h1 {
  font-size: 24px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  text-align: center;
  padding: 40px;
  background-color: #5000F5;
  color: #FDBE2D;
}
.servicioDiseñoWeb .serviciosDiseñoWeb {
  background-color: #5000F5;
  color: #FDBE2D;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 90px;
  padding: 30px;
}
.servicioDiseñoWeb .serviciosDiseñoWeb h2 {
  font-size: 20px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  padding-top: 25px;
}
.servicioDiseñoWeb .serviciosDiseñoWeb p {
  font-size: 18px;
  font-family: "Baloo 2", cursive;
  text-align: right;
  text-align: center;
  padding-bottom: 50px;
}

.servicioDiseñoGrafico {
  background-color: #5000F5;
}
.servicioDiseñoGrafico .serviciosDiseñoGrafico {
  background-color: #5000F5;
  color: #FDBE2D;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 90px;
  padding: 30px;
}
.servicioDiseñoGrafico .serviciosDiseñoGrafico h2 {
  font-size: 20px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  padding-top: 25px;
}
.servicioDiseñoGrafico .serviciosDiseñoGrafico p {
  font-size: 18px;
  font-family: "Baloo 2", cursive;
  text-align: right;
  text-align: center;
  padding-bottom: 50px;
}

.servicioCm {
  background-image: url("../multimedia/people-holding-social-media-icons.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 300px;
}
.servicioCm .serviciosCm {
  color: white !important;
  background-color: #5000F5;
  opacity: 80%;
  padding: 30px;
  height: 300px;
  width: 100%;
}
.servicioCm .serviciosCm h2 {
  font-size: 20px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  padding-top: 25px;
}
.servicioCm .serviciosCm p {
  font-size: 18px;
  font-family: "Baloo 2", cursive;
  text-align: center;
  padding-bottom: 50px;
}

.servicioPh {
  background-image: url("../multimedia/young-female-product-photographer-in-studio.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 300px;
}
.servicioPh .serviciosPh {
  color: white !important;
  background-color: #5000F5;
  opacity: 80%;
  padding: 30px;
  height: 300px;
  width: 100%;
}
.servicioPh .serviciosPh h2 {
  font-size: 20px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  padding-top: 25px;
}
.servicioPh .serviciosPh p {
  font-size: 18px;
  font-family: "Baloo 2", cursive;
  text-align: center;
  padding-bottom: 50px;
}

.consultas h2 {
  font-size: 24px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  color: white;
  background-color: #5000F5;
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.consultas .formulario {
  display: flex;
  justify-content: center;
  font-family: "Baloo 2", cursive;
  text-align: left;
  color: #FDBE2D;
  background-color: #5000F5;
  padding-top: 20px;
  padding-bottom: 40px;
}
.consultas .form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contacto {
  display: flex;
  flex-direction: column;
}
.contacto h2 {
  font-size: 24px;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  color: white;
  background-color: #5000F5;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.contacto .contactos {
  padding: 5px;
  font-family: "Baloo 2", cursive;
  text-align: left;
  color: #FDBE2D;
  background-color: #5000F5;
}
.contacto .tel-mail {
  display: flex;
  justify-content: center;
  color: #FDBE2D;
  font-size: 17px;
  margin-bottom: 8px;
}

.botonWhatsapp {
  background-color: #5000F5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botonWhatsapp .call {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Baloo 2", cursive;
  color: white;
  background-color: rgb(16, 231, 16);
  width: 250px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
}
.botonWhatsapp a {
  color: white;
  padding: 6px;
}
.botonWhatsapp i {
  font-size: 27px;
  padding: 6px;
}

.botonArriba {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  color: #5000F5;
  height: 22px;
  width: 22px;
  background-color: #FDBE2D;
  border-radius: 50%;
  font-size: 20px;
  filter: opacity(80%);
}

.footer {
  background-color: #000;
  font-size: 14px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .redes {
  display: flex;
  justify-content: center;
}
.footer a {
  color: #FDBE2D;
  font-size: 16px;
  padding-right: 10px;
  padding-left: 10px;
}
.footer i:hover {
  transform: scale(1.15);
}
.footer .textoFooter {
  font-family: "Baloo 2", cursive;
  color: #FDBE2D;
  display: flex;
  justify-content: center;
}
.footer .copy {
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .contenedor-grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px auto auto auto 120px;
    grid-template-areas: "header header" "main main" "servicios servicios" "consultas contacto" "footer footer";
  }
  .header {
    grid-area: header;
  }
  .main, .mainDiseñoWeb, .mainDiseñoGrafico, .mainCm {
    grid-area: main;
  }
  .servicios {
    grid-area: servicios;
  }
  .servicioDiseñoWeb {
    grid-area: servicios;
  }
  .servicioDiseñoGrafico {
    grid-area: servicios;
  }
  .servicioCm {
    grid-area: servicios;
  }
  .servicioPh {
    grid-area: servicios;
  }
  .consultas {
    grid-area: consultas;
  }
  .contacto {
    grid-area: contacto;
  }
  .footer {
    grid-area: footer;
  }
  .logo {
    width: 180px !important;
    height: auto !important;
    margin-left: 80px;
  }
  nav {
    height: 100px;
  }
  .bar-btn {
    display: none;
  }
  .nav-menu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 20px;
  }
  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }
  .nav-menu li a {
    font-size: 16px !important;
    font-family: "Baloo 2", cursive;
    padding: 7px 2px;
    text-transform: uppercase;
    color: #FDBE2D !important;
  }
  .main p, .mainDiseñoWeb p, .mainDiseñoGrafico p, .mainCm p {
    font-size: 18px;
    font-family: "Baloo 2", cursive;
    text-align: justify;
    color: #FDBE2D;
    display: flex;
    justify-content: center;
    padding-right: 200px;
    padding-left: 200px;
  }
  .contacto {
    background-color: #5000F5;
  }
  .contacto .tel-mail {
    font-size: 20px;
  }
  .servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 90px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .servicios .botones {
    background-color: #FDBE2D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    margin: 10px 30px;
    border-radius: 10px;
    filter: opacity(90%);
  }
  .botonArriba {
    height: 30px;
    width: 30px;
  }
  .footer {
    font-size: 15px;
  }
  .footer a {
    font-size: 20px;
  }
  .servicioDiseñoWeb h1 {
    font-size: 30px;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    text-align: center;
    padding: 100px;
    background-color: #5000F5;
    color: #FDBE2D;
    display: flex;
    justify-content: center;
  }
  .servicioDiseñoWeb .serviciosDiseñoWeb {
    background-color: #5000F5;
    color: #FDBE2D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    padding: 30px;
  }
  .servicioDiseñoWeb .serviciosDiseñoWeb h2 {
    font-size: 20px;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
  }
  .servicioDiseñoWeb .serviciosDiseñoWeb p {
    font-size: 18px;
    font-family: "Baloo 2", cursive;
    text-align: left !important;
    text-align: center;
    padding-right: 300px;
  }
  .servicioDiseñoGrafico {
    background-color: #5000F5;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .servicioDiseñoGrafico .serviciosDiseñoGrafico {
    background-color: #5000F5;
    color: #FDBE2D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    padding: 30px;
  }
  .servicioDiseñoGrafico .serviciosDiseñoGrafico h2 {
    font-size: 30px;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
  }
  .servicioDiseñoGrafico .serviciosDiseñoGrafico p {
    font-size: 20px;
    font-family: "Baloo 2", cursive;
    text-align: left;
    padding-right: 300px;
    display: flex;
    align-items: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
