*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    }

    $color1: #5000F5;
    $color2: #FDBE2D;
    $color3: #ffff;

    .contenedor-grid{
        display: grid;
        min-height: 100vh;
    }
    .header{
        background-color: $color2;
        padding: 20px;
        .logo{
                padding: 6px;
        }
        .logo:hover{
                transition: all 2s;
                width: 225px;
                height: auto;
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
        }
        nav ul li a:hover{
            color: $color3;
            transition: all .2s;
        }
    }
    .nav-menu{
        position: fixed;
        right: 0px;
        top: 97px;
        width: 100%;
        text-align: center;
        transition: all .5s;
    }
    .nav-menu ul{
        background-color: $color2;
        width: 100%;
        height: auto;
    }
    .nav-menu li{
        display: none;
        margin-top: 18px;
        margin-right: 10px;
        transition: all .5s;
    }
    .nav-menu li a{
        color: $color1;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Baloo 2', cursive;
        display: inline-block;
    }
    #check{
        display: none;
    }
    #check:checked ~ .nav-menu{
        height: 60vh;
    }
    #check:checked ~ .nav-menu li{
        display: block;
    }
    .bar-btn{
        font-size: 35px;
        margin-right: 25px;
        margin-top: 20px;
        color: $color1;
        cursor: pointer;
    }
    main{
        background-color: $color1;
        
        h1{
        font-size: 27px;
        font-family:'Baloo 2', cursive;
        font-weight: bold;
        color: $color3;
        display: flex;
        justify-content: center;
        padding: 10px;
        margin-top: 30px;
        }  
        p{
        font-size: 18px;
        font-family:'Baloo 2', cursive;
        text-align: justify;
        color:$color2;
        display: flex;
        justify-content: center;
        padding: 30px;
        }    
    }  
    .consultas{
        h2{
            font-size: 24px;
            font-family:'Baloo 2', cursive;
            font-weight: bold;
            color:$color3;
            background-color: $color1;
            display: flex;
            justify-content: center;
            padding: 10px;
            padding-top: 16px;
        }
        .formulario{
            display: flex;
            justify-content: center;
            padding: 35px;
            font-family:'Baloo 2', cursive;
            text-align: left;
            color: $color2;
            background-color: $color1
        }
    }
    #b {
        background-color: $color1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: span 1;
        grid-template-areas: "contacto";
        position: relative;
    }
    .contacto {
        h2{
        font-size: 24px;
        font-family:'Baloo 2', cursive;
        font-weight: bold;
        color:$color3;
        background-color: $color1;
        display: flex;
        justify-content: center;
        padding: 10px;
        padding-top: 16px;
        }
        .contactos{
        display: grid;
        justify-content: center;
        padding: 35px;
        font-family:'Baloo 2', cursive;
        text-align: left;
        color: $color2;
        background-color: $color1;
        grid-area: contacto;
        }
    }
    .contactos {
        .tel-mail{
            display: grid;
            justify-content: center;
            color: $color2;
        }
        a{
            font-size: 16px;
            font-family:'Baloo 2', cursive;
            color:#FDBE2D;
            display: flex;
            justify-content: center;
            padding: 5px;
            text-align: center;
            padding-bottom: 26px;
            animation: flash;
            animation-duration: 2s;
            animation-delay: 6s;
        } 
        i{
            font-size: 19px;
            color:#FDBE2D;
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }
    }
    .oficinas{
        background-color: $color1;
        display: flex;
        flex-direction: column;
   
        h2{
        font-size: 24px;
        font-family:'Baloo 2', cursive;
        font-weight: bold;
        color:$color3;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 15px;
        display: flex;
        justify-content: center;
        }
        .mapa{
        width: 300px;
        height: 200px;
        padding-bottom: 40px;
        }
    }
    .footer{
        background-color: $color2;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        
        a{
            color: $color1;
            letter-spacing: 20px;
        } 
        i:hover{
        transform: scale(1.15);
        }
        .nuestrasRedes{
            font-size: 19px;
            font-family:'Baloo 2', cursive;
            font-weight: bold;
            color:$color1;
            display: flex;
            justify-content: center;
            padding: 5px;
            margin-top: 5px;
            padding-right: 20px;
            }
        }
    @media (min-width: 768px){
        .contenedor-grid{
            display: grid;
            min-height: 100vh;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 120px auto auto 80px;
            grid-template-areas: "header header header"
                                 "main main main"
                                 "uno dos tres"
                                 "footer footer footer";
        }
        .header{
            grid-area: header;
            }
        .main{
            grid-area: main;
            }
        #a{
            grid-area: uno;
        }
        #b{
            grid-area: dos;
        }
        #c{
            grid-area: tres;
        }
        .footer{
            grid-area: footer;
            }
        .logo{
            width: 220px;
            height: auto;
        }
        .bar-btn{
            display: none;
        }
        .nav-menu{
            position: relative;
            height: 50px;
            width: 500px;
            top: 20px;
            right: 38px;
            background: none;
            transition: none;
            text-align: right;
            display: inline-block;
            padding-left: 60px;
        }
        .nav-menu ul{
            display: flex;
            flex-direction: row;
            line-height: 12px;
            overflow: hidden;
            width: 700px;
            margin-right: 20px;
            background-color: $color2;
        }
        .nav-menu li{
            display: inline-block;
            transition: none;
        }
        .nav-menu li a{
            color: $color1;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Baloo 2', cursive;
            display: inline-block;
        }
        main p{
            font-size: 18px;
            font-family:'Baloo 2', cursive;
            text-align: justify;
            color:$color2;
            display: flex;
            justify-content: center;
            padding-right: 108px;
            padding-left: 108px;
        }  
    }
    @media (min-width: 920px){
        .nav-menu li a{
            color: $color1;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Baloo 2', cursive;
            display: inline-block;
        }
    }